.App {
  background-color: var(--Light-gray);
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.current-user-container {
  width: 80%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  background-color: var(--White);
  border-radius: 1rem;
  margin: 0 auto;
  margin-top: 1em;
}

.current-user-container textarea {
  resize: none;
  padding: 1em 2em;
  margin: 1.5em;
  border: 1.5px solid var(--Moderate-blue);
  border-radius: 1rem;
  font-size: 1rem;
  margin-bottom: 0;
}

.current-user-container textarea:focus {
  outline: none;
}

.current-bottom-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
}

.current-bottom-section img {
  max-height: 2.8rem;
  max-width: 2.8rem;
}

.current-bottom-section button {
  padding: 1em 1em;
  margin-left: 5px;
  background-color: var(--Moderate-blue);
  color: var(--White);
  border-radius: .5rem;
  letter-spacing: .5px;
  
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}